@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Italianno&family=Tangerine:wght@400;700&display=swap');

body {
    margin: 0;
    background-color: rgb(19, 19, 19);
    color: gold
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Italianno", cursive;

    background-color: black;
    color:white;

    padding: 15px 30px;
    
}

h1, h2, h3 {
    font-family: "Italianno", cursive;
    color: GOLD;
    text-decoration: none;
}

.logotext {
    margin: 0;
    font-family: "Italianno", cursive;
    color: gold
}

.main {
    text-align: center;
    font-size: 60px;
    text-decoration: none;
}

.imagecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
}

.imagecontainer img {
    max-width: 200px;
    height: auto;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1)
}

.room {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.room img {
    max-width: 400px;
    height: auto;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.logo {
    max-width: 30px;
    height: auto
}

.img1:hover {
    transform: translateY(-5px)
}

.img2:hover {
    transform: translateY(-5px)
}

.img3:hover {
    transform: translateY(-5px)
}

.img4:hover {
    transform: translateY(-5px)
}

.img5:hover {
    transform: scale(1.1)
}

.img6:hover {
    transform: scale(1.1)
}

.img7:hover {
    transform: scale(1.1)
}

.img8:hover {
    transform: scale(1.1)
}

.img9:hover {
    transform: scale(1.1)
}

.img10:hover {
    transform: scale(1.1)
}

.img11:hover {
    transform: scale(1.1)
}

.img12:hover {
    transform: scale(1.1)
}

.img13:hover {
    transform: scale(1.1)
}

.img14:hover {
    transform: scale(1.1)
}

.img15:hover {
    transform: scale(1.1)
}

.img16:hover {
    transform: scale(1.1)
}

.img17:hover {
    transform: scale(1.1)
}

.img18:hover {
    transform: scale(1.1)
}

.img19:hover {
    transform: scale(1.1)
}

.img20:hover {
    transform: scale(1.1)
}

.img21:hover {
    transform: scale(1.1)
}

.img22:hover {
    transform: scale(1.1)
}

.img23:hover {
    transform: scale(1.1)
}

.img24:hover {
    transform: scale(1.1)
}

.img25:hover {
    transform: scale(1.1)
}

.img26:hover {
    transform: scale(1.1)
}

.img28:hover {
    transform: scale(1.1)
}

.img29:hover {
    transform: scale(1.1)
}

.img30:hover {
    transform: scale(1.1)
}

.img31:hover {
    transform: scale(1.1)
}

.img32:hover {
    transform: scale(1.1)
}

.img33:hover {
    transform: scale(1.1)
}

.img34:hover {
    transform: scale(1.1)
}

.img0:hover {
    transform: scale(1.1)
}

a:link {
    color:gold
}
a:visited {
    color:gold
}
a:hover {
    color:gold
}
a:active {
    color:gold
}
nav a {
    color: gold;
    text-decoration: none;
    font-size: 24px
}
nav a:link {
    color:goldenrod
}
nav a:visited {
    color:gold
}
nav a:hover {
    color:goldenrod
}
nav a:active {
    color:gold
}