body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: red;
    color:white;

    padding: 15px 30px;

    border-bottom: 3px solid #00bfff;
}

a:link {
    color:blue
}
a:visited {
    color:red
}
a:hover {
    color:darkblue
}
a:active {
    color:green
}
nav a:link {
    color:blue
}
nav a:visited {
    color:red
}
nav a:hover {
    color:darkblue
}
nav a:active {
    color:green
}